<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

<div class="container" >
            <fieldset *ngIf="book!==undefined">
            <legend>Details</legend>
            <div >
                <h1>{{book.title}}</h1>
                <hr class="solid">
                <h5>by {{book.author}}</h5>
                
            <div class="line">
                <div class="between">
                   <img src={{book.image}}>
                   <div class="bottom-left"></div>
                   <button class="priceButton">{{book.price.toFixed(2)}} $</button>
                </div>
                <div id="description">{{book.description}}</div>
            </div>

           </div>
          
           </fieldset>
</div>>
       