fieldset{
    max-width: 300px;
    margin:2rem auto;
    border:2px solid;
    padding: 2rem;
}
label{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    padding: .5rem 0;
}
input{
    display: block;
    width:100%;
}
button{
    display: block;
    width:100%;
    border:0;
    background: darkblue;
    padding: .5rem;
    color:white;
    margin: 1rem 0;
    text-transform: uppercase;
}
button:hover{
    background: lightblue;
}
#error{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    padding: .5rem 0;
    color: brown;
}


 