<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

<form class="search" [formGroup]="searchForm">
    <input type="text" formControlName="searchWord">
    <button (click)="search()">search</button>
</form>
<div class='container' *ngIf="this.books.length>0 && this.searchFlag==false">
 
            <div class="box" *ngFor="let book of this.books">
                <h3>{{book.title}}</h3>
                <hr class="solid">
                <h5>by {{book.author}}</h5>
                
                <div class="img">
                    <img src={{book.image}}>
                    <div class="bottom-left"></div>
                </div>
                
                <button class="priceButton" (click)="confirmPopUp(book.title)">{{book.price.toFixed(2)}} $</button>
                <button class="detailButton" [routerLink]="['/detail', book.id]">Details</button>
            </div>
        </div>
        
<div class='container' *ngIf="this.searchBooks.length>0 && this.searchFlag==true">
 
            <div class="box" *ngFor="let book of this.searchBooks">
                <h3>{{book.title}}</h3>
                <hr class="solid">
                <h5>by {{book.author}}</h5>
                
                <div class="img">
                    <img src={{book.image}}>
                    <div class="bottom-left"></div>
                </div>
                
                <button class="priceButton" (click)="confirmPopUp(book.title)">{{book.price.toFixed(2)}} $</button>
                <button class="detailButton" [routerLink]="['/detail', book.id]">Details</button>
            </div>
        </div>

<div class="noResult" *ngIf="this.searchBooks.length==0 && this.searchFlag==true">
<div>No result</div>
</div>